/Gopinadh_TE-AIML-C/   @Vuppala-Gopinadh @BharathkumarK19 
/Hari_TE-AIML-C/  @Hari5540
/A.Vishnuvardhan_TE-AIML-A/  @AlluriVishnuvardhan  @Vuppala-Gopinadh @BharathkumarK19 
/Deekshitha_TE-AIML-A/  @Deekshitha741  @Vuppala-Gopinadh @BharathkumarK19 
/K.Bharathkumar-AIML-D/  @BharathkumarK19  @Vuppala-Gopinadh
/K.Girivardhan_TE-AIML-A/ @girivardhan86  @Vuppala-Gopinadh @BharathkumarK19 
/lokesh_TE-AIML-D/  @lokeshreddy-5894  @Vuppala-Gopinadh @BharathkumarK19 
/Madhu_sudhan_Reddy_TE-AIML-A/ @madhusudhanreddy9966  @Vuppala-Gopinadh @BharathkumarK19 
/Manideep_TE-AIML-A/  @Manideep1427  @Vuppala-Gopinadh @BharathkumarK19 

/.github/ @Vuppala-Gopinadh @BharathkumarK19 
