/Gopinadh_TE-AIML-C/   @Vuppala-Gopinadh
/Hari_TE-AIML-C/  @Hari5540
/A.Vishnuvardhan_TE-AIML-A/  @AlluriVishnuvardhan
/Deekshitha_TE-AIML-A/  @Deekshitha741
/K.Bharathkumar-AIML-D/  @BharathkumarK19
/K.Girivardhan_TE-AIML-A/ @girivardhan86
/lokesh_TE-AIML-D/  @lokeshreddy-5894
/MadhusudhanReddy_TE_AIML/ @madhusudhanreddy9966
/Mani_TE-AIML-B/  @Manideep1427

/.github/CODEOWNERS/   @Vuppala-Gopinadh @BharathkumarK19 

*  @Vuppala-Gopinadh @Hari5540 @AlluriVishnuvardhan @BharathkumarK19 
*  @girivardhan86 @madhusudhanreddy9966 @Manideep1427 @Deekshitha741 @lokeshreddy-5894

