/Gopinadh_TE-AIML-C/   @Vuppala-Gopinadh
/Hari_TE-AIML-C/  @Hari5540
/A.Vishnuvardhan_TE-AIML-A/  @AlluriVishnuvardhan
/ALLURI SRIYASHWANTH VARMA_SE-AIML-G/ @yashalluri3467
/B Yuvaraja_S.E-CSE-C/ @Yuvaraja01
/Bathula Prasad TE-CSE-E/ @Prasad160
/Bhargava sri ram_FE-AIML-T/  @kbhargavasriram88
/Charitha_SE-AIML-F/  @Bareddycharitha
/Chinthakuntlawar_Ashish_TE_CSF_A/ @Ashish3546
/Chintre Mallikarjuna rao_S.E-AIML-E/ @MKRAOCHINTRE
/Deekshitha_TE-AIML-A/  @Deekshitha741
/K Raghu_S.E-AIML-E/ @luckyraghu903
/K.Bharath kumar -AIML-D/  @BharathkumarK19
/K.Girivardhan_TE-AIML-A/ @girivardhan86
/lokesh_TE-AIML-D/  @lokeshreddy-5894
/Madhu sudhan Reddy _TE _AIML/ @madhusudhanreddy9966
/Mani_TE-AIML-B/  @Manideep1427
/Poojitha_SE-AIML-F/  @sareddypoojitha-662
/Shirisha_SE-AIML-F/  @Shirisha-amba
/ Swapna_SE-AIML-F/ @swapna-techie 

/.github/CODEOWNERS/   @Vuppala-Gopinadh @BharathkumarK19 

*  @Vuppala-Gopinadh @Hari5540 @Yuvaraja01 @MKRAOCHINTRE @Bareddycharitha @AlluriVishnuvardhan @yashalluri3467 @BharathkumarK19 @sareddypoojitha-662 @swapna-techie 
* @Shirisha-ambati @girivardhan86 @madhusudhanreddy9966 @kbhargavasriram88 @Prasad1602 @luckyraghu9032 @Manideep1427 @Deekshitha741 @Ashish3546 @lokeshreddy-5894
gg

